<div>
{{!-- <h1>{{ title }}</h1> --}}
<h1>Create User</h1>
<form id="createUser">
    <input type="text" placeholder="first name" id="fname">
    <input type="text" placeholder="last name" id="lname">
    <br> <br>
    <input type="text" placeholder="enter email" id="email">
    <input type="text" placeholder="password" id="password">
    <br><br>
    <button id="submitbtn">
        Submit
    </button>
</form>
{{!-- {{#if isLoggedIn}}
{{#each allUsers}}
I am {{first_name}}
<br>
{{/each}}
{{/if}} --}}
</div>

<script src="/js/createUser.js"></script>